@import '../../styles/variables.scss';

button{
  background-color: $verdetify;
  border-radius: 20px;
  border-style: none;
  color: white;  
  font-family: 'Rubik', sans-serif;
  font-size: 12PX;
  height: 35px;
  width: 150px;

}