.cont-left{
display: flex;


}

.cont-right{
display: flex;
flex-direction: column;
width: 82,5%;

}


.cont-sideinfo{
 border: 1px solid salmon; 
 width: 230px;
}

.cont-topmenu{
border: 1px solid blueviolet; 
width: 100%;
}
.cont-midcont{
border: 1px solid lightgreen;  
 width: 100%;
}
.cont-player{
border: 1px solid royalblue; 
 width: 99,9%;
}