@import '../../styles/variables.scss';

.cont-left{
display: flex;
color: $gristext; 
h1{
  color: white;
}

}

.cont-right{
background-color: $grisfondo; 
display: flex;
flex-direction: column;
width: 82%;


}


.cont-sideinfo{
 border: 1px solid salmon; 
 width: 230px;
}

.cont-topmenu{
border: 1px solid blueviolet; 
padding-left: 9px;
width: 100%;
}
.cont-midcont{
border: 1px solid lightgreen; 
padding: 9px 0px 0px 9px;
 width: 100%;
}
.cont-player{
border: 1px solid royalblue; 
color: $gristext; 
 width: 99,9%;
}