@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&display=swap');


$gristext: #c1c1c1;
$grisbarthumb: #f5f5f5;
$grisfondo: rgb(31, 30, 30);  
$grisplayer: rgb(48, 48, 48);
$verdetify: rgb(86, 202, 86);  


