

.playlist-cont{
  cursor: pointer;
  text-align: center;
  padding-right: 10px;
  width: 200px;
}

.playlist-img{
  height: 200px;
  width: 200px;
}

.playlist-title{
font-size: 14px;

}

.playlist-owner{
  font-size: 12px;
}