.playlist-general{

  display: flex;
  flex-flow: row;
}

.playlist-col01{

  align-items: center;
  display: flex;
  flex-flow: column;
  padding-top: 20px;
  width: 40%;
}

.playlist-heart{
  cursor: pointer; 
  margin-top: 14px;
  height: 25px;
  width: 25px;
}

