@import '../../styles/variables.scss';

.player-cont{
display: flex;
flex-direction: row;
justify-content: space-between;
overflow: hidden;
width: 99%;
height: 60px;

//primer tercio, disco autor y cancion
  .player-songinfo{
  display: flex;
  flex-direction: row;
  
  height: 60px;
  width: 20%;
 
  .player-nameauthor{
    display: flex;
    flex-direction: column;
  & .songname{
    color: white;
    font-size: 14px;
    margin: 10px 0px 5px 10px;

  }

  & .songauthor{
    color: $gristext;
    font-size: 12px;
    margin-left: 10px;
  }
    }
  } 
//segundo tercio, reproductor iconos y barra
  .player-player{
    
    align-items: center;
   
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 50%;
    
   
  } 



  .player-songimg{
   margin-top: 5px; 
   height: 50px;
   width: 50px; 
  }

  .player-songheart{
    cursor: pointer; 
    margin: 14px 0px 0px 14px;
    height: 20px;
    width: 20px;
  }

  .player-songicons{
    cursor: pointer; 
    margin-left: 10px;
    height: 30px;
    width: 30px;
  }
  
  .player-durationcont{
   
   width: 99%;
  }

  .player-songbar {
    -webkit-appearance: none;
    border-radius: 10px;
    height: 7px;
    margin: 5px;
    width: 85%;
    background: $gristext;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #828282;
      border: 0px solid #8A8A8A;
      height: 7px;
      width: 32px;
      border-radius: 0px;
      background: $grisbarthumb;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: 1px;
    }
  }

  //tercer tercio, dipositivos y volumen
  .player-volumecont{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    width: 20%;
  } 

  .player-icons{
    cursor: pointer; 
    margin-left: 10px;
    height: 20px;
    width: 20px;
  }
  .player-volume{
    -webkit-appearance: none;
    border-radius: 10px;
    height: 3px;
    margin: 5px;
    width: 25%;
    background: $gristext;
    &:focus {
      outline: none;
    }
    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px #828282;
      border: 0px solid #8A8A8A;
      height: 2px;
      width: 5px;
      border-radius: 0px;
      background: $grisbarthumb;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: 1px;
    }
  }

  //Easteregg
  .player-easteregg{
   position: absolute;
   z-index: 999;
   right: 0px;
   height: auto; 
   width: 8%; 
  }
 } 

